body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/*Шапка страницы*/
.main-header__wrapper {
    float: left;
}

.main-header {
    min-height: 323px;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;
}

.main-header__title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header__list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header__list li a:hover {
    opacity: 0.7;
}

.main-header__list li a:visited {
    color: grey;
}

.main-header__list {
    list-style-type: none;
}

.main-header__list li:before {
    content: "";
    width: 25px;
    height: 19px;
    position: absolute;
    margin-left: -35px;
    margin-top: 7px;
    background: url("../img/checkicon.png") no-repeat center;
}

.main-header__photo {
    display: block;
    background-color: #ffffff;
    width: 469px;
    height: 214px;
    float: right;
}

/*конец Шапка страницы*/

/*Блок 1*/

.about-product {
    width: 100%;
    overflow: hidden;
}

.about-product_wrapper {
    padding-left: 50px;
    margin-top: 49px;
    margin-bottom: 50px;
}

.about-product_wrapper h2 {
    margin: 0;
    padding: 0;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin-bottom: 30px;
}

.about-product_wrapper p {
    margin: 0;
    padding: 0;
    width: 653px;
    display: inline-block;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.about-product__video {
    display: block;
    background-color: #445161;
    width: 430px;
    height: 242px;
    float: right;
    margin-right: 50px;
}

/*Конец Блок 1*/

/*Блок 2*/

.dignity-product {
    width: 1280px;
    background: #f5f5f5;
}

.dignity-product_title {
    padding-top: 49px;
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.dignity-product_list li {
    list-style-type: none;
    page-break-inside: avoid;
    break-inside: avoid;
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.dignity-product_list {
    columns: 2;
    padding-bottom: 40px;
}

.dignity-product_list li:before {
    content: "";
    color: white;
    width: 32px;
    height: 32px;
    position: absolute;
    margin-left: -40px;
    margin-top: 5px;
    background: url(../img/Layer.png) no-repeat center;
    background-color: #445161;
}

/*КОНЕЦ*/

/*Блок 4*/
.scrinshots {
    overflow: hidden;
    padding-bottom: 20px;
}

.scrinshots_title {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.figcaption_title {
    font-family: Arial;
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

figcaption p {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

figure img {
    float: left;
}

.scrinshots_wrapper {
    width: 359px;
    min-height: 180px;
    overflow: hidden;
    padding-left: 20px;
    float: left;
}

/*конец Блок 4*/

/*Блок 5*/

.reviewes_wrapper {
    background-color: #f5f5f5;
    padding-left: 18px;
    padding-top: 40px;
    padding-bottom: 27px;
}

.reviewes_title {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-bottom: 35px;
}

.reviewes {
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
}

.reviewes p {
    display: inline-block;
    width: 440px;
    margin: 0;
    min-height: 121px;
    background: #ececec;
    border-radius: 10px;
    font-family: Arial;
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: left;
    overflow: hidden;
    padding-left: 14px;
    padding-top: 16px;
    padding-right: 16px;
}

.reviewes p:before {
    content: "";
    position: absolute;
    margin-left: -27px;
    margin-top: 11px;
    width: 13px;
    height: 25px;
    background-image: url(../img/arrow.png);
}

.userpic {
    float: left;
    padding-right: 16px;
    margin-left: 32px;
    margin-right: 16px;
    width: 75px;
    height: 75px;
}

.userpic img {
    border-radius: 50%;
}

.reviewes span {
    width: auto;
    display: block;
    font-family: Arial;
    color: #989898;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding-top: 7.5px;
}

/*Конец Блок 5*/

/*Блок 6*/

.buyIt_wrapper {
    width: 1280px;
    overflow: hidden;
    padding-bottom: 49px;
}

.buyIt_title {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.flex_container {
    display: grid;
    grid-template-columns: repeat(3, 300px [col-start]);
    grid-gap: 45px;
    justify-content: center;
    align-items: flex-end;
}

.butIt_price100 {
    width: 300px;
    background: #445161;
    border-radius: 10px;
}

.buyIt_name {
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
}

.buyIt_price {
    margin: 0;
    height: 71px;
    background: white;
    border: 1px solid #445161;
    font-family: Arial;
    color: #445161;
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
}

.buyIt ol {
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

button {
    outline: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    background-color: #ffffff;
    width: 260px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.buy_button:hover {
    opacity: 0.8;
}

.buy_button:active {
    color: #445161;
}

/*Конец Блок 6*/

.main_footer {
    width: 100%;
    min-height: 509px;
    background: #445161;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

.contact_title {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-top: 53px;
}

.contacts_mail {
    padding: 0px;
    margin: 0px;
    margin-left: 40px;
    margin-top: 20px;
    display: inline-block;
}

.contacts_mail a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.contacts_mail li {
    padding-bottom: 20px;
    list-style-type: none;
}

.contacts_mail ul li a:hover {
    opacity: 0.3;
}

.contacts_mail ul li a:visited {
    color: grey;
}

.contacts_mail ul li:first-child:before {
    content: "";
    position: absolute;
    margin-left: -35px;
    width: 24px;
    height: 26px;
    background-image: url(../img/skypeicon.png);
}

.contacts_mail ul li:nth-child(2):before {
    content: "";
    position: absolute;
    margin-left: -35px;
    width: 26px;
    height: 26px;
    background-image: url(../img/icqicon.png);
}

.contacts_mail ul li:nth-child(3):before {
    content: "";
    position: absolute;
    margin-left: -35px;
    width: 22px;
    height: 22px;
    background-image: url(../img/emailicon.png);
}

.contacts_mail ul li:nth-child(4):before {
    content: "";
    position: absolute;
    margin-left: -35px;
    width: 24px;
    height: 23px;
    background-image: url(../img/phoneicon.png);
}


.Socialico a {
    text-decoration: none;
    display: inline-block;
    font-family: "Socialico";
    font-size: 60px;
    font-weight: 400;
}

.Socialico a:hover {
    opacity: 0.3;
}

/*Форма*/
.contanct_form {
    width: 500px;
    height: 300px;
    padding-top: 31px;
    padding-left: 249px;
    float: left;
}

.name {
    padding: 0px 10px 0px 10px;
    text-transform: capitalize;
    border-radius: 6px;
    outline: none;
    width: 474px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: block;
}

.name:focus {
    border: 1px solid black;
}

.email {
    padding: 0px 10px 0px 10px;
    text-transform: lowercase;
    border-radius: 6px;
    outline: none;
    width: 474px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: block;
}

.email:focus {
    border: 1px solid black;
}

.your_message {
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    display: block;
    border-radius: 6px;
    outline: none;
    width: 480px;
    height: 150px;
    resize: none;
    border: none;
    box-shadow: inset 0px 0px 6px 0.5px rgba(0, 0, 0, 1);
    display: block;
}

.your_message:focus {
    border: 1px solid black;
}

.send {
    outline: none;
    text-transform: uppercase;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    margin-top: 21px;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 180px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 0.6;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 0.6;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

:-ms-input-placeholder {
    /* IE 10+ */
    opacity: 0.6;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

:-moz-placeholder {
    /* Firefox 18- */
    opacity: 0.6;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/*конец Форма*/

.small_footer {
    background: #f5f5f5;
    text-align: center;
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
}

.validator {
    text-align: center;
}

/*ШРИФТ*/

@font-face {
    font-family: "Socialico";
    src: url("Socialico.eot?") format("eot"), url("Socialico.woff") format("woff"), url("Socialico.ttf") format("truetype"), url("Socialico.svg#Socialico") format("svg");
    font-weight: normal;
    font-style: normal;
}
