/*
* {
    margin: 0;
    padding: 0;
}
*/

body {
    margin: 0;
    padding: 0;
}

main {
    width: 1280px;
    margin: 0 auto;
}

/*Шапка страницы*/

.main-header {
    height: 323px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #445162;
}

.main-header__title {
    /* text-transform: capitalize; */
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header__list {
    margin: 51px 0 0 0;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header__list {
    list-style-type: none;
    list-style-image: url("img/check%20icon%20(1).png");
}

.main-header__photo {
    background-color: #ffffff;
    width: 469px;
    height: 214px;
    padding: 50px;
}

/*конец Шапка страницы*/

/*Блок 1*/

.about-product {
    width: 1280px;
}

.about-product_text {
    padding-left: 50px;
    padding-top: 49px;
}

.about-product_text p,
span {
    width: 654px;
    display: inline-block;
}

.about-product_text h1 {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.about-product_text p {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


.about-product__photo {
    background-color: #445161;
    width: 430px;
    height: 245px;
    float: right;
    margin-right: 50px;
}

.clr {
    width: 0;
    height: 0;
    margin: 0 auto;
    clear: both;
}

/*Конец Блок 1*/

/*Блок 2*/

.dignity-product {
    width: 1280px;
    /*    height: 323px;*/
    background: #f5f5f5;
    position: relative;
}

.dignity-product_title {
    padding-top: 49px;
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.dignity-product_list li {
    list-style-type: none;
    page-break-inside: avoid;
    break-inside: avoid;
    height: 100px;
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    position: relative;
}

.dignity-product_list {
    columns: 2;
    padding-bottom: 40px;
}

.dignity-product_list li:before {
    content: "";
    color: white;
    width: 32px;
    height: 32px;
    position: absolute;
    margin-left: -40px;
    background: url(img/Layer%202.png) no-repeat center;
    background-color: #445161;
}

/*Блок 4*/
/*
.scrinshots_wrapper {
    position: relative;
}
*/

.scrinshots_title {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-top: 50px;
}


.figcaption_title {
    font-family: Arial;
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

figcaption p {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

figure img {
    float: left;
}

.scrinshots_wrapper {
    width: 359px;
    height: 180px;
    overflow: hidden;
    padding-left: 20px;
    float: left;
}

/*конец Блок 4*/

/*Блок 5*/

.reviewes_wrapper {
    background-color: #f5f5f5;
    padding-left: 18px;
    padding-top: 40px;
    padding-bottom: 27px;

}

.reviewes_title {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-bottom: 35px;
}

.reviewes {
    display: inline-block;
    /*    background-image: url(img/bg%20review.png);*/
    /*    background-position: right;*/
    /*    width: 700px;*/
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
}

.reviewes p {
    width: 436px;
    margin: 0;
    height: 64px;
    /*    background: #ececec;*/
    background-image: url(img/bg%20review.png);
    /*     background-repeat: no-repeat;*/
    /*    border-radius: 10px;*/
    font-family: Arial;
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: left;
    overflow: hidden;
    padding-left: 27px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 41px;
}

.reviewes img {
    float: left;
    padding-right: 16px;
    margin-left: 32px;

}

.reviewes span {
    width: auto;
    display: block;
    font-family: Arial;
    color: #989898;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding-top: 7.5px;
}

/*Конец Блок 5*/

/*Блок 6*/

.buyIt_wrapper {
    width: 1280px; 
    overflow: hidden;
    padding-bottom: 49px;
}

.buyIt_title {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.flex_container {
    display: grid;
    grid-template-columns: repeat(3, 300px [col-start]);
    grid-gap: 45px;
    justify-content: center;
    align-items: flex-end;
}

.butIt_price100 {
    width: 300px;
    background: #445161;
    border-radius: 10px;
/*    display: inline-block; */

    
    
}

.buyIt_name {
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
}

.buyIt_price {
    margin: 0;
    height: 71px;
    background: white;
    border: 1px solid #445161;
    font-family: Arial;
    color: #445161;
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
}

.buyIt ol {
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

button {
    display: inline-block;
    border-radius: 5px;
    background-color: #ffffff;
    width: 260px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/*Конец Блок 6*/

.main_footer {
    background: #445161;
    overflow: hidden;
}

.contact_title {
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-top: 30px;
}

/*Форма*/
.contanct_form {
    margin-top: 10px;
    margin-left: 250px;
    width: 500px;
    height: 300px;
    float: left;
}

.contanct_form input {
    width: 500px;
    height: 40px;
    margin-bottom: 15px;
}


.contanct_form button {
    width: 140px;
    height: 40px;
    margin-top: 20px;
}

/*конец Форма*/

.contacts_mail {
    margin-left: 30px;
    display: inline-block;
}

.contacts_mail li a {
    display: block;
    text-decoration: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.contacts_mail li {
    list-style-type: none;
}


.contacts_social {
    text-decoration: none;
}
